{% extends 'layouts/base.html'%}

     {% block body%}   

         <div class="container">

               <div class="row">
                  <div class="col">
              
                      <a href="{{url_for('logout')}}">Deconnexion</a> 
                                     
                  </div>

                   <div class="col">
                     User connected: {{session['user']['email'] if session['user']}}
                   </div>
                  <hr>
               </div>
               <br>
               <br>
               <div class="row">

                  <div class="col-sm">
                      
                       <h1>Pseudo:{{usr.pseudo}} </h1>
                       <hr>
                       <h1>Mail: {{usr.email}} </h1>
                       <hr>
                       <h1>Mot de passe: {{usr.mdp}}</h1>
                       <hr>
                  </div>
                   <div class="col-sm">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Modifier ses informations
                        </button>
                    
                  </div>
                    <div class="row">

               </div>
                

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mise a jour des informations</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                            <div class="row">
                                  <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                         <div class="form-group">

                                         {% for error in form.mail.errors %}
                                                 {{error}}
                                         {% endfor%}

                                         {{form.pseudo.label(class="form-label")}}
                                         {{form.pseudo(class="form-control")}}
                                     </div>
                                      <div class="form-group">

                                         {% for error in form.mail.errors %}
                                                 {{error}}
                                         {% endfor%}

                                         {{form.mail.label(class="form-label")}}
                                         {{form.mail(class="form-control")}}
                                     </div>
                                      <div class="form-group">
                                        {% for error in form.mdp.errors %}
                                                 {{error}}
                                         {% endfor%}

                                         {{form.mdp.label(class="form-label")}}
                                         {{form.mdp(class="form-control")}}
                                     </div>
                                        <br>
                                        {{form.btn(class="btn btn-primary")}}

                                  </form>

                              </div>

                      </div>
                     
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">

                 {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    
                    {% for category, message in messages %}

                       <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}   
                        </div>
                    {% endfor %}
                
                  {% endif %}
                {% endwith %}
              
            </div>
          </div>

     {% endblock body%}

